<article>
<h1>Datos Estadísticos - Tendencias</h1>
<p align="justify">En esta sección de tendencias se muestran los coeficientes necesarios para calcular la recta de regresión simple. Esta recta de regresión se realiza con el comando tslm, con el cuál es posible realizarla con estacionalidad, dando lugar a esta fórmul: <strong>Yt = a + bt + cn</strong>, dónde b representa m1 que sería la pendiente, o tendencia. Y habría que añadir cn siendo n el número de mes (superior a Enero) y c el coeficiente asociado a ese mes.</p>
</article>
<div style="margin:25px"></div>