
  <section style="margin: 0px 50px 0px 50px;">

	<aside style="float:left; width:15%; margin: 50px;">
	  	
  	  <div style="margin:25px"></div>
  	  <img src="./images/johns_hopkins.png" alt="Johns Hopkins University" />
			<div style="margin:25px"></div>
			<img src="./images/rLogo.jpg" alt="Logo R" />
			<div style="margin:25px"></div>
			<img src="./images/premier-league.png" alt="Logo premier-league" />
	</aside>
	<article style="float:right; width:65%; text-align:justify;">
	<header>
		<hgroup>
			<h1>Help</h1>
		</hgroup>
	</header>
		<p >In this help section you will understand each part of the website. This website online represents data of a .csv file and it can show different statistics extracted from this file. The website has three sections:</p>
		<ol>
		<li><strong>Start:</strong> the beginning page only inform the user about the project.</li>
		<li><strong>Statistics:</strong> section that shows the statistics and results of the derbies and the next matches. In the seasons subsection you can select an specific season to check de results.</li>
		<li><strong>Help:</strong> help section.</li>
		
		</ol>
		

	</article>
  </section>
