
  <section style="margin: 0px 50px 0px 50px;">
	<aside style="float:left; width:15%; margin: 50px;">
  	  <div style="margin:25px"></div>
			<img src="./images/scidbLogo.jpg" alt="Logo SciDB"  />
			<div style="margin:25px"></div>
			<img src="./images/rLogo.jpg" alt="Logo R" />
			<div style="margin:25px"></div>
			<img src="./images/uscLogo.jpg" alt="Logo USC" />
	</aside>
	<article style="float:right; width:65%;">
	<header>
		<hgroup>
			<h1>SciDB-R Project</h1>
			<h2> Análisis espacio-temporal de variables geofísicas multidimensionales</h2>
		</hgroup>
	</header>
		<p align="justify">El objetivo del proyecto cómo muy bien se indica es el de realizar un análisis epacio-temporal de variables geofísicas multidimensionales, empleando tecnologías novedosas y que pudiesen aportar y aumentar el conocimiento de las mismas. Se empeleará como base de datos SciDB, una base de datos de arrays. A la hora de realizar todo el procesamiento, análisis y cálculo de datos se empleará el lenguaje de programación estadístico R. Para presentar los datos de manera visual y que sean atractivos para el usuario, se utilizará el framework Shiny para crear aplicaciones web a través de R.
		En este caso podemos ver, la página web con cuatro menús principales: Inicio, Gráficos, Datos Estadísticos y Ayuda. En el menú Ayuda se explicarán las dudas que puedan surgir y la funcionalidad que tiene cada menú. </p>
		<p><strong>Autor:</strong> Brais López Yáñez.</p>
		<p><strong>Tutor del proyecto:</strong> Joaquín Ángel Triñanes Fernández.</p>

		
	</article>
  </section>
