
  <section style="margin: 0px 50px 0px 50px;">
	<aside style="float:left; width:15%; margin: 50px;">
  	  <div style="margin:25px"></div>
  	  <img src="./images/johns_hopkins.png" alt="Johns Hopkins University" />
			<div style="margin:25px"></div>
			<img src="./images/rLogo.jpg" alt="Logo R" />
			<div style="margin:25px"></div>
			<img src="./images/premier-league.png" alt="Logo premier-league" />
	</aside>
	<article style="float:right; width:65%;">
	<header>
		<hgroup>
			<h1>Derbies Premier League</h1>
			<h2>Developing Data Products</h2>
		</hgroup>
	</header>
		<p align="justify">Derbies Premier League is the final project for the course Developing Data Products by Johns Hopkins University. In this website, you can see the results of the derbies in the Premier League and the result of the next matches.</p>
		<p><strong>Author:</strong> Brais López Yáñez.</p>
		
	</article>
  </section>
